<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<nifty xmlns="http://nifty-gui.sourceforge.net/nifty-1.3.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://nifty-gui.sourceforge.net/nifty-1.3.xsd http://nifty-gui.sourceforge.net/nifty-1.3.xsd">
  <useStyles filename="nifty-default-styles.xml" />
  <useControls filename="nifty-default-controls.xml" />


	<screen controller="nl.jappieklooster.ISAI.state.MenuState" id="start">
		<layer backgroundColor="#0000" childLayout="center">
			<panel align="center" backgroundColor="#f60f" childLayout="center"
				height="15%" id="" valign="center" visibleToMouse="true" width="40%">

				<effect>
					<onStartScreen direction="top" inherit="true" length="300"
						mode="in" name="move" startDelay="0" />
					<onEndScreen direction="bottom" inherit="true" length="300"
						mode="out" name="move" startDelay="0" />
				</effect>

					<text align="center" color="#000f" font="aurulent-sans-16.fnt"
						text="please specify the path" valign="top" />

     <panel width="100%" height="25%" align="center" valign="center" childLayout="vertical" backgroundColor="#55a5" padding="10">
        <control id="path" name="textfield" width="100%" text="lool" height="100%"/>
      </panel>

				<panel align="center" backgroundColor="#ff00" childLayout="center"
					height="10%" valign="bottom" visibleToMouse="true" width="100%">
					<interact onClick="quit()" />
					<effect>
						<onHover endColor="#ffff" name="pulsate" post="true"
							scaleFactor="0.008" startColor="#f600" />
					</effect>
					<text align="center" color="#000f" font="aurulent-sans-16.fnt"
						text="done" valign="center" />
				</panel>
			</panel>
		</layer>
	</screen>
	<screen id="end">
	</screen>
</nifty>
